pkgbase = notes-bin
	pkgdesc = Local-first, peer-to-peer, end-to-end encrypted markdown notes app
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/doitwithbrio/notes
	arch = x86_64
	license = MIT
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	provides = notes
	conflicts = notes
	options = !strip
	source_x86_64 = https://github.com/doitwithbrio/notes/releases/download/v0.2.0/notes_0.2.0_amd64.AppImage
	sha256sums_x86_64 = SKIP

pkgname = notes-bin
